<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./view/assets/css/style.css">
    <title>WEB STUDY</title>
</head>
<body>
    <!-- banner -->
    <section class="banner-section">
        <div class="banner-container">
            <div class="banner-left-side-container">
                <div class="text-container">
                    <p>WEB STUDY</p>
                </div>
                <div class="banner-button-container">
                    <a href="index.php?page=about"><button>More Info</button></a>
                </div>
            </div>
            <div class="banner-middle-side-container">
                <div class="banner-image-container">
                    <img width="684" height="492" src="https://trananhkhang.com/files/2019/11/topimg-home1.png" class="attachment-full size-full" alt="" loading="lazy" srcset="https://trananhkhang.com/files/2019/11/topimg-home1.png 884w, https://trananhkhang.com/files/2019/11/topimg-home1-300x201.png 300w, https://trananhkhang.com/files/2019/11/topimg-home1-768x514.png 768w" sizes="(max-width: 884px) 100vw, 884px">
                </div>
            </div>
            <div class="banner-right-side-container">
                <div class="text-container">
                    
                    <p class="main">1%</p>
                    <p class="banner-note">
                        <ion-icon name="heart" style="color:#CB0000;z-index:-1"></ion-icon> STUDY HARDER <ion-icon name="leaf-outline" style="color:green"></ion-icon>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- đường chéo -->
    <div class="elementor-shape elementor-shape-bottom" data-negative="false">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" style="fill:#F0F5FF">
<path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
</svg>		</div>
 
</body>
</html>